
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #6849c4;" >
      <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="navbar-brand" href="/">HOME</a>
              </li>
            </ul>

            <form class="form-inline my-2 my-lg-0 mx-2" action="/search" method="GET">
              <div class="d-flex align-items-center position-relative">
                <input class="form-control search-input" type="search" name="q" placeholder="Tìm kiếm..." aria-label="Search">
                <button class="btn search-button position-absolute" type="submit">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </form>

          <ul class="navbar-nav ml-auto">

          {{#if user}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle user-dropdown-toggle" href="#" id="userDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa-solid fa-user-circle"></i> {{user.username}}
            </a>
            <div class="dropdown-menu dropdown-menu-right user-dropdown-menu" aria-labelledby="userDropdown">
              <a class="dropdown-item" href="/dishes/create">
                <i class="fa-solid fa-pen"></i> Đăng bài
              </a>
              <a class="dropdown-item" href="/me/stored/dishes">
                <i class="fa-solid fa-folder-open"></i>Bài viết
              </a>
              <a class="dropdown-item" href="/me/infomation">
                <i class="fa-solid fa-user"></i>Hồ sơ
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-danger" href="/logout">
                <i class="fa-solid fa-right-from-bracket"></i> Đăng xuất
              </a>
            </div>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link btn custom-btn-outline mx-1" href="/register">
              <i class="fa-solid fa-user-plus"></i> Đăng ký
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn custom-btn-outline mx-1" href="/login">
              <i class="fa-solid fa-right-to-bracket"></i> Đăng nhập
            </a>
          </li>
        {{/if}}
          </ul>
        </div>
      </div>
    </nav>
</body>


