// /* Đảm bảo body không có nền kéo dài xuống footer */
// body {
//     background-color: transparent; /* Đảm bảo nền body trong suốt */
// }

/* Phần nội dung chính */
.main-content {
    margin-bottom: 80px;
}

.equal-height-row {
    display: flex;
    flex-wrap: wrap;
}

.equal-height-row .col-sm-6 {
    display: flex;
    flex-direction: column;
}

.card-dish-item {
    width: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-text {
    flex-grow: 1;
    margin-bottom: 0;
}